<div class="container">
  <h2>Categories List</h2>

  <mat-table [dataSource]="categories">
    <ng-container matColumnDef="categoryId">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let category">{{ category.categoryId }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>TITLE</mat-header-cell>
      <mat-cell *matCellDef="let category">{{ category.title }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>DESCRIPTION</mat-header-cell>
      <mat-cell *matCellDef="let category">{{ category.description }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="cssColor">
      <mat-header-cell *matHeaderCellDef>CSS COLOR</mat-header-cell>
      <mat-cell *matCellDef="let category">{{ category.css_color }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="createCategory()">
          <mat-icon class="icon-blue">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let category">
        <button mat-icon-button (click)="updateCategory(category.categoryId)">
          <mat-icon class="icon-red">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCategory(category.categoryId)">
          <mat-icon class="icon-red">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
</div>