<!-- <h2>Post List</h2>
<button (click)="createPost()">ADD</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>NUM LIKES</th>
      <th>NUM DISLIKES</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.postId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.num_likes }}</td>
      <td>{{ post.num_dislikes }}</td>

      <td>
        <button (click)="updatePost(post.postId)">UPDATE</button>
        <button (click)="deletePost(post.postId)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
 -->

 <div class="container">
  <h2>Post List</h2>

  <mat-table [dataSource]="posts">
    <ng-container matColumnDef="postId">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.postId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>TITLE</mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>DESCRIPTION</mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numLikes">
      <mat-header-cell *matHeaderCellDef>NUM LIKES</mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.num_likes }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numDislikes">
      <mat-header-cell *matHeaderCellDef>NUM DISLIKES</mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.num_dislikes }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="createPost()">
          <mat-icon class="icon-blue">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let post">
        <button mat-icon-button (click)="updatePost(post.postId)">
          <mat-icon class="icon-red">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletePost(post.postId)">
          <mat-icon class="icon-red">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
</div>